*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.img{
  height: 500px;
}
.jumbotron {
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 1.3rem;
}

.about{
  border-radius: 15px 0px 0px 18px;
}
.text{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
#btn-color{
  background-color: #CC4E52;
  border: none;
}

.body-card{
  display: flex;
  align-items: center;
  justify-content: center;
}
